.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.masonry-layout{
    column-count: 4;
    column-gap: 5px;
    background-color: black;
}

.masonry-layout img{
    width: 100%;
}

.background-gradient-transition {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
  
.matrix-background{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.carousel{
    height: 10vh;
    width: 20vw;
}